

#presentation{
    color:green;
    font-weight: bold;
    ul{
        border: 1px solid black;
        li:nth-child(odd){
            color:red;
        }
        li:nth-child(even){
            font-weight: 700;
            color: purple;
        }
    }
}
.operations{
    background-color: $green;
    color:white;
    width: $width/5;
}

.operations:hover{
    background-color:darken($green, 10%);
}